
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
nav{
    width: 1600px;
    height: 151px;
    margin: 0 auto;
    padding-top: 10px; 
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
nav a{
    text-decoration: none;
    color:#4E47FF; 
}
.first{
    width: 99px;
    height: 51px;
    font-weight: 1000;
    font-size: 35px;
}
ul button{
    background-color:#4E47FF;
    color: aliceblue; 
    width: 132px;
    height: 48px;
    border-radius: 10px;
    border: none;
}
.header{
    width: 1880px;
    height: 580px;
    background-image: url(/Assets/Hero-bg.png);
    margin: 0 auto;
    
}
.text{
    
    width: 905px;
    height: 237px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.text h2{
    font-size: 55px;
}
.text button{
    width: 174px;
    height: 48px;
    background-color:#4E47FF;
    color: aliceblue; 
    border: none;
    border-radius: 10px;
}
.ban{
    width: 1100px;
    height: 382px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.ban img{
    border-radius: 35px;
    width: 400px;
    height: 300px;
}
.ban1{
    width: 350px;
    height: 203px;
}
.ban1 h2{
    font-size: 35px;
}
.ban1 button{
    width: 174px;
    height: 38px;
    color: aliceblue; 
    background-color:#4E47FF;
    border: none;
    border-radius: 10px;
}
.user{
    width: 1200px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D6DDED;
    border: none;
    border-radius: 25px;
    margin-top: 100px;
    
}
.uses{
    margin: 0 auto;
    width: 856px;
    text-align: center;
    
}
.uses h2{
    font-size: 30px;
}
.box{
    width: 856px;
    height: 150px;
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    margin-top: 50px;
}
.box h1 {
    font-size: 70px;
}
.box h1,
.box p{
    margin:0;  
}
.box h1{
    color:#4E47FF;
}
.box p{
    color:#414049;
}
.input-l{
    width: 1200px;
    height: 550px;
    background-color: #D6DDED;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    border: none;
    border-radius: 20px;
}
.get-input{
    display: flex;
}
.get-input1 h1{
    width: 528px;
    height: 232px;
    font-size: 80px;
}
.get-input2 input,
.get-input2 textarea{
    display: block;
    width: 350px;
    height: 20px;
    padding: 16px;  
    margin: 7px 0;
    border:none;
    border-radius: 15px;
}
.get-input2 textarea{
    display: block;
    width: 350px;
    height: 80px;
    padding: 20px;  
    margin: 7px 0;
    border:none;
    border-radius: 15px;
}
textarea::placeholder{
    font-family:  sans-serif;  
}
.get-input2 button{
    width: 400px;
    height:50px;
    color: aliceblue;
    background-color:#4E47FF ;
    padding: 15px;  
    margin: 7px 0;
    border:none;
    border-radius: 15px;
}
.logo{
    width: 1414px;
    height: 428px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logo h1{
    font-size: 90px;
    color: #4E47FF;
}
.logo p{
    width: 531px;
    height: 48px;
    color: #8987A1; 
}
.logo h1,
.logo p{
    margin: 0;
}
.element{
    display: flex;
    justify-content: space-around;
}
.element h5{
    color: #8987A1;
}
.review{
    width: 1440px;
    height: 342px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.review1{
    display: flex;
    justify-content: space-between; 
}
.review2{
    width: 290px;
    height: 200px;
    text-align: left;
    
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    background-color: rgb(249, 250, 251);    
}
.review3{
    display: flex;
}
.review3 img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.review3 .name{
    margin: 0;
}

.review3 .date{
    margin: 0;
} 
.rev h2{
    font-size: 40px;
}
.name{
    font-weight: 600;
    color: rgb(87, 81, 81);
    font-size: 15px;
    padding-left: 8px;
}
.date{
    font-size: 13px;
    color: rgb(173, 171, 171);
    padding-left: 8px;
}
.btn{
    width: 1200px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 80px;
    margin-bottom: 80px;
    border: none;
    border-radius: 50px;
}
.end{
    width: 180px;
    height: 70px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    background-color: #007BFF;
    color: aliceblue;
    cursor: pointer;
    transition: 0.3s ease;

}
.end:hover{
    transform:scale(1.1);
    box-shadow: 0 0 20px #6C5CE7, 0 0 40px #a29bfe;
}
