
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
nav{
    width: 1140px;
    height: 151px;
    margin: 0 auto;
    padding-top: 10px;

    
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
nav a{
    text-decoration: none;
    color:#4E47FF;
    
}
.first{
    width: 99px;
    height: 51px;
    font-weight: 1000;
    font-size: 35px;
}
ul button{
    background-color:#4E47FF;
    color: aliceblue; 
    width: 132px;
    height: 48px;
    border-radius: 10px;
    border: none;
}
.header{
    width: 1890px;
    height: 550px;
    background-image: url(/Assets/Hero-bg.png);
    margin: 0 auto;
    
}
.text{
    
    width: 905px;
    height: 237px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.text h2{
    font-size: 55px;
}
.text button{
    width: 174px;
    height: 48px;
    background-color:#4E47FF;
    color: aliceblue; 
    border: none;
    border-radius: 10px;
}